<% if current_user && current_user.profile %>
    <% if @club.sections.present? %>
        <% @club.sections.each do |section| %>
            <div>
                <h3><%= section.name %></h3>
            </div>
            <div>
                <small><%= section.salary %></small>
            </div>
            <div>
                <% if current_user.clubs.include?(@club) %>
                    <% if current_user.sections.include?(section) %>
                        <strong>Reserved</strong>
                        <div>
                            <%= link_to "Exit section", section_cancell_path(section_id: section.id), method: :delete  %>
                        </div>
                    <% else %>

                            <%= link_to "Apply", section_enroll_path(section_id: section.id), method: :post %>

                    <% end %>


                <% end %>


            </div>
        <% end %>

    <% end %>

<% end %>
